
<div class="row">
      <div class="col s12">
       <ul class="collection">

     <li class="collection-item avatar">
    <div class="circle responsive-img">  <%= cl_image_tag current_user.image  , :size => "50x50"%> </div>  <%= @user.username %> <br>user</li>
    <li> <%= link_to "Edit Profile", edit_user_registration_path %></li>

     
  </ul>
 </div>
      <div class="col s12">
      <h5><%=t('site.global.posts')%></h5>
<% @user.animals.in_groups_of(3, false).each do |group| %>
     
<div class="row">
    
 <% group.each do |animal| %>
 <div class="col s4">
      <div class="card">
        <div class="card-image">
          <%= cl_image_tag animal.image %>
        </div>
        <div class="card-content">
       <h5><%= animal.title %></h5> 
          <p> <%= animal.description %></p>
          <p>  <%= animal.animal_type %>, <%= animal.gender %></p>
        </div>
        <div class="card-action">
          <a href=<%= animal_path(animal) %>><%=t('site.global.details')%></a>
        </div>
      </div>
       </div>
      <% end %>
   
  </div>  
  <% end %>


</div>
</div>
    