

 <div class="row teal lighten-5">
     
      <div class ="row">
      <div class="col s12 center">
  
    <div class="responsive-img"><%= image_tag 'banner.png' %></div>
 </div>
      <div class="col s12 ">
      <div class="arr row">
    <div class="col s6  ">
    <div class="card white" >
     <div class="card-content white-text center">
     <%= image_tag 'missing.png' %>
           <h5> <%=  link_to 'enter', "/all_animals/missing" %></h5>
        </div>
      </div>
    </div>

    <div class="col s6">
    <div class="card white">
     <div class="card-content white-text center">
         
     <%= image_tag 'found.png' %>

           <h5> <%=  link_to 'enter', "/all_animals/found" %></h5>
        </div>
      </div>
    </div>
  </div>
 
 <div class="arr row ">
     <div class="col s6 ">
    <div class="card white">
     <div class="card-content white-text center">
          <%= image_tag 'adopt.png' %>

           <h5> <%=  link_to "enter",  "/all_animals/for-adoption" %></h5>
        </div>
      </div>
    </div>

     <div class="col s6 ">
    <div class="card white">
     <div class="card-content white-text center">
      <%= image_tag 'in-need.png' %>
           <h5> <%=  link_to "enter",  "/all_animals/animals-in-need"%></h5>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>


    
    </div>
         

</div>
