<!DOCTYPE html>
<html>
  <head>
    <title>PetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  </head>

  <body>
  
  <nav>
    <div class="nav-wrapper #80cbc4 teal lighten-3">
      <a href="/" class="brand-logo"><%= t(".logo")%></a>
      <ul class="right hide-on-med-and-down">
     
     
     <li> <%= link_to t(".all_animals"), animals_path %></li>
      <li><% if user_signed_in? %></li>
      <li><%= link_to t(".new_animal"), new_animal_path %></li>

      <li><%= link_to current_user.email, user_path(current_user) %></li>
       <li> <%= link_to t(".log_out"), destroy_user_session_path, method: :delete %></li>
      <% else %>
       <li> <%= link_to t(".log_in"), new_user_session_path %></li>
       <li> <%= link_to t('.sign_up'), new_user_registration_path %></li>
      <% end %>
      <li><%= form_tag(search_page_path, :method => "get",    class: 'navbar-form navbar-left') do %>   <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: t("site.global.search"), class: "form-control" %> </li>
     <li><div class="input-group-btn">  
      <%= button_tag "search by Microchip", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %></li>
      </ul>
    </div>




  </nav>
 
 
<div class="container  teal lighten-5">
    <%= yield %>
  </div>
 <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>





    <footer class="page-footer #80cbc4 teal lighten-3">
            
          <div class="footer-copyright">
            <div class="container">
            Copyright © 2018 Help Animals 
            <a class="grey-text text-lighten-4 right" href="https://github.com/dalalsa/project1">Code on Github</a>
            </div>
          </div>
        </footer>
   



    
  </body>
</html>
